<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ErrorLogFile" value="C:\IQETools\Logs\Logs.txt"/>

    <!--BluePrint Config Entries-->
    <add key="VerifyBP" value="C:\Blueprints\18.1.6\win64\HD\20180625.r.34"/>
    <add key="Extension" value=".indt"/>
    <add key="VerifyAgainstBP" value="C:\Blueprints\18.1.5\win64\HD\20180518.r.32"/>
    <add key="EnglishBPRef" value="C:\Blueprints\18.1.6\win64\HD\20180625.r.34\en_US.csv"/>
    <add key="BPDiffPath" value="C:\Blueprints\18.1.6\win64\HD\20180625.r.34"/>
    <add key="BPResults" value="C:\Blueprints\18.1.6\win64\HD\20180625.r.34\Results.csv"/>
    <add key="XMLPath" value="C:\SampleFiles\FilesPath.xml"/>
    <add key="VerifyBPBuildNo" value="682.6"/>
    <add key="VerifyAgainstBPBuildNo" value="682.1"/>
    <add key="EnglishRefBuildNo" value="682.6_20120405"/>
    <add key="EnglishRefLocale" value="en_US"/>
    <add key="ExcludeNotModified" value="true"/>
    <add key="CheckXMLPath" value="false"/>
    
    <!--Find Missing StringIDs Config Entries-->
  </appSettings>
</configuration>